<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Bemuse">
        <meta name="description" content="Arknights wallpaper for Wallpaper Engine">
        <meta name="keywords" content="html, css, js, vue.js, three.js">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="js/vue.min.js"></script>
        <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrap">
            <div id="main">
                <div class="apps bg">
                    <div id="bg-canvas">
                        <div id="bg-canvas-wrap">
                            <canvas ref="c" id="c"></canvas>
                        </div>
                    </div>
                    <!--<transition name="appear-bg">
                        <div id="bg-image" v-show="show.bg">
                            <div></div>
                        </div>
                    </transition>-->
                </div>
                <!--<div class="apps hexagon">
                    <div id="hexagon-wrap">
                        <div id="hexagon-cols-even" :style="style.hexagon.even">
                            <div
                                v-for="e in hexagon.cols.even"
                                :key="e.key"
                                :style="e.style"
                            >
                                <div
                                    v-for="h in e.hexs"
                                    :key="h.key"
                                    :style="h.style"
                                ></div>
                            </div>
                        </div>
                        <div id="hexagon-cols-odd" :style="style.hexagon.odd">
                            <div
                                v-for="o in hexagon.cols.odd"
                                :key="o.key"
                                :style="o.style"
                            >
                                <div
                                    v-for="h in o.hexs"
                                    :key="h.key"
                                    :style="h.style"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--<div class="apps lungmen">
                    <div id="lungmen-title">
                        <span></span>
                    </div>
                </div>-->
                <div class="apps time">
                    <transition name="appear-time">
                        <div id="time-current" v-show="show.time">
                            <span>00:00:00:000</span>
                            <span>{{currentTime}}</span>
                        </div>
                    </transition>
                </div>
                <div class="apps logo">
                    <div id="logo-words">
                        <p
                            v-for="w in logo.words"
                            :key="w.key"
                        >{{w.text}}</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>